@use 'var';

/* BREADCRUMBS */
#breadcrumb {
    ul#crumbs {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        li {

            a {
            }

            &.active {
            }
        }
    }
}
