/* GLOBAL */
/*
@font-face {
	font-family: "Helvetica Neue Condensed";
	src: url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.eot");
	src: url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.eot") format("embedded-opentype"),
	url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.woff2") format("woff2"),
	url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.woff") format("woff"),
	url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.ttf") format("truetype"),
	url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn") format("svg");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
*/

/* TRANSITION */
.no-transition {
    * {
        transition: none !important;
    }
}

html {
    body.wp-admin {
        #poststuff .-preview {
            section {
                padding-top: 0 !important;
                padding-bottom: 0 !important;

                h1,
                h2,
                h3,
                h4,
                h5,
                h6,
                p,
                img {
                    margin: 0;
                    padding: 0;
                    text-decoration: none;

                    a > * {
                        text-decoration: none;
                    }
                }
            }
        }
    }

    body:not(.wp-admin),
    #poststuff .-preview {
        letter-spacing: 0;

        section,
        div {
            position: relative;
            z-index: 1;

            h1 {
                @media screen and (max-width: 1024px) {
                }
            }

            h2 {

                @media screen and (max-width: 1024px) {
                }
            }

            h3 {

                @media screen and (max-width: 1024px) {
                }
            }

            h4 {

                @media screen and (max-width: 1024px) {
                }
            }
        }

        p,
        ul li {

            @media (max-width: 1000px) {
            }
        }

        ul li {
            list-style: inside;

            a {
                text-decoration: none;
            }
        }

        p a {
            text-decoration: underline;
        }

        button,
        input[type='submit'] {

            > *,
            &.button {
                @media (max-width: 1000px) {
                }
            }

            &.bouton-general,
            &.bouton-fonce {
                > * {
                }
            }

            &.bouton_inverse {

                > * {
                }
            }

            &:hover {

                > * {
                }

                &.bouton-general {
                    > * {
                    }
                }

                &.bouton_inverse {
                    > * {
                    }
                }

                &.bouton_inverse {
                    > * {
                    }
                }
            }
        }
    }
}
