/* FONTS */
$font: Arial, sans-serif;
$texte: 16px;

/* COULEURS */
$blanc: #FFFFFF;

@mixin flex($direction, $justify: flex-start, $align: flex-start) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin taille($taille) {
    $padding: 5vw;

    @if $taille == petit {
        max-width: calc(60vw + #{$padding * 2});
    } @else if $taille == moyen {
        max-width: calc(75vw + #{$padding * 2});
    } @else if $taille == grand {
        max-width: calc(90vw + #{$padding * 2});
    } @else {
        max-width: calc(100vw + #{$padding * 2});
    }

    margin: auto;
    padding-right: $padding;
    padding-left: $padding;
}

@mixin font($taille, $hauteur, $poids: 400, $transform: normal, $couleur: $texte, $align: left) {
    font-size: $taille;
    line-height: $hauteur;
    font-weight: $poids;
    color: $couleur;
    text-align: $align;
    text-transform: $transform;
}

@mixin background($image, $position: center, $repeat: no-repeat, $size: cover) {
    background-image: url('../static/img/' + $image);
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}
