/*
@font-face {
	font-family: "Helvetica Neue Condensed";
	src: url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.eot");
	src: url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.eot") format("embedded-opentype"),
	url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.woff2") format("woff2"),
	url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.woff") format("woff"),
	url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.ttf") format("truetype"),
	url("../static/fonts/HelveticaNeueLTStd/HelveticaNeueLTStd-HvCn.svg#HelveticaNeueLTStd-HvCn") format("svg");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

$Helvetica_Neue_Condensed: "Helvetica Neue Condensed", "Helvetica Neue", "Helvetica", sans-serif;
$Helvetica_Neue: "Helvetica Neue", "Helvetica", sans-serif;
*/

// Début du CSS
/* COULEURS */
$blanc: #FFFFFF;
